In [70]:
import pandas as pd
import numpy as np

In [71]:
heats=pd.read_csv('heats.csv')
heats#.head()

    heat   id  time
0      0  301  25.3
1      0  302  24.2
2      0  303  29.2
3      0  304  28.4
4      0  305  27.3
5      0  306  27.1
6      0  307  28.0
7      0  308  28.2
8      1  201  27.8
9      1  202  27.5
10     1  203  27.2
11     1  204  26.8
12     1  205  27.0
13     1  206  27.4
14     1  207  27.6
15     1  208  27.9
16     2  101  26.6
17     2  102  26.3
18     2  103  25.5
19     2  104  25.0
20     2  105  25.1
21     2  106  25.9
22     2  107  26.4
23     2  108  26.7

In [72]:
zapliv=[[0 for x in range(8)] for x in range(3)]
speed = [4,5,3,6,2,7,1,8]
#zapliv
speed.reverse()
print(speed)

[8, 1, 7, 2, 6, 3, 5, 4]

In [73]:
heats_sort=heats.copy()
heats_sort=heats_sort.sort_values('time')
heats_sort.index=(range(len(heats_sort)))
heats_sort

    heat   id  time
0      0  302  24.2
1      2  104  25.0
2      2  105  25.1
3      0  301  25.3
4      2  103  25.5
5      2  106  25.9
6      2  102  26.3
7      2  107  26.4
8      2  101  26.6
9      2  108  26.7
10     1  204  26.8
11     1  205  27.0
12     0  306  27.1
13     1  203  27.2
14     0  305  27.3
15     1  206  27.4
16     1  202  27.5
17     1  207  27.6
18     1  201  27.8
19     1  208  27.9
20     0  307  28.0
21     0  308  28.2
22     0  304  28.4
23     0  303  29.2

In [74]:
sch=len(heats_sort)
A=[]
for n,z in enumerate(zapliv):
    for i in speed:
        sch=sch-1
        time=heats_sort.loc[sch,'time']
        id=heats_sort.loc[sch,'id']
        z[i-1]=(id,(n+1),i, time)
        A.append((id,(n+1),i))
        
    print(z)
    print(' ')

[(304, 1, 1, 28.4), (307, 1, 2, 28.0), (201, 1, 3, 27.8), (202, 1, 4, 27.5), (207, 1, 5, 27.6), (208, 1, 6, 27.9), (308, 1, 7, 28.2), (303, 1, 8, 29.2)]

[(305, 2, 1, 27.3), (306, 2, 2, 27.1), (204, 2, 3, 26.8), (101, 2, 4, 26.6), (108, 2, 5, 26.7), (205, 2, 6, 27.0), (203, 2, 7, 27.2), (206, 2, 8, 27.4)]

[(102, 3, 1, 26.3), (103, 3, 2, 25.5), (105, 3, 3, 25.1), (302, 3, 4, 24.2), (104, 3, 5, 25.0), (301, 3, 6, 25.3), (106, 3, 7, 25.9), (107, 3, 8, 26.4)]

In [75]:
print(A)

[(303, 1, 8), (304, 1, 1), (308, 1, 7), (307, 1, 2), (208, 1, 6), (201, 1, 3), (207, 1, 5), (202, 1, 4), (206, 2, 8), (305, 2, 1), (203, 2, 7), (306, 2, 2), (205, 2, 6), (204, 2, 3), (108, 2, 5), (101, 2, 4), (107, 3, 8), (102, 3, 1), (106, 3, 7), (103, 3, 2), (301, 3, 6), (105, 3, 3), (104, 3, 5), (302, 3, 4)]

In [76]:
answer=[0 for x in range(8)]
for a in A:
    if a[0]>300:
        answer[a[0]-301]=a
for a in answer:
    print(f'{a[0]},{a[1]},{a[2]}')

301,3,6
302,3,4
303,1,8
304,1,1
305,2,1
306,2,2
307,1,2
308,1,7